header {
    text-align: center;
    padding: 4px;
}


h1 {
    text-align: center;
}

.contenedor1 {
    width: 0 auto;
    margin-bottom: 40%;
}

.contenedor2{
    box-sizing: border-box;
    clear: both;
}

.contenedor3 {
    box-sizing: border-box;
    clear: both;
}

footer {
    text-align: center;
    padding: 4px;
    box-sizing: border-box;
    clear: both;
}

.horario, tr, td, th {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}

table {
    width: 1000px;
    height: 400px;
    margin: 0 auto;
}



.logo {
    margin: 0 auto;
    box-sizing: border-box;
    float: left;
    align-items: center;
    margin-left: 15%;

}

.redes_sociales {
    box-sizing: border-box;
    float: right;
    align-items: center;
    margin-right: 25%;
    margin-top: 5%;
    border: 1px solid black;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.red1 {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
}

.r1l {
    float: left;
    margin: 0 10px;
}

.r1r {
    float: right;
    margin: 0 10px;
}