/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos del encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 5px;
    border-radius: 20px;
}

nav a:hover {
    background-color: #555;
}


#logo img {
    height: 50px;
    border-radius: 100%;
}

#apartados a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#apartados a:hover {
    background-color: #555;
}

#registros button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}



/* Estilos del descuento */
#descuento {
    background-color: #ffcc00;
    text-align: center;
    padding: 20px 0;
}

#letraverano {
    font-size: 24px;
    font-weight: bold;
}

/* Estilos del contenido principal */
#carrusel,
#MasVendidos,
#OfertaFlash,
#Testimonios {
    padding: 20px;
    background-color: #f4f4f4;
}

/* Estilos del pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

footer a:hover {
    color: #ffcc00;
}



/*Ancla*/
footer {
    text-align: right;
    margin-top: 40px; /* Espacio superior */
}

.back-to-top {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.back-to-top:hover {
    background-color: #0056b3;
}



/*Estilos del carrusel*/

/* Estilos del carrusel */
.carousel {
    position: relative;
    max-width: 100%; /* Ajusta el tamaño máximo del carrusel para ocupar el ancho completo */
    min-height: 300px; /* Establece una altura mínima para asegurar que el carrusel no sea demasiado pequeño */
    margin: auto;
    overflow: hidden; /* Oculta las imágenes que se salgan del contenedor */
}

.carousel-images {
    display: flex; /* Utiliza Flexbox para alinear las imágenes horizontalmente */
    transition: transform 0.8s ease; /* Animación para el desplazamiento */
    width: 100%; /* Asegura que las imágenes ocupen el ancho completo */
}

.carousel-images img {
    width: 100%; /* Ajusta el ancho de las imágenes */
    height: auto; /* Mantiene la proporción de aspecto */
    flex-shrink: 0; /* Evita que las imágenes se encojan */
}


button {
    padding: 10px 20px;
    background-color: peru;
    color: #fff;
    border: none;
    border-radius: 20px; /* Bordes más redondeados */
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px; /* Separación entre los botones */
    margin-left: 10px;
}

#MasVendidos,
#OfertaFlash,
#precio {
    text-align: center; /* Centra el contenido de las secciones */
    display: flex; /* Utiliza flexbox para alinear elementos en línea */
    justify-content: center; /* Centra los elementos horizontalmente */
}

#MasVendidos p,
#OfertaFlash p {
    width: 100%; /* Ocupa todo el ancho disponible */
    margin-bottom: 20px; /* Añade un espacio entre el párrafo y las imágenes */
}

#MasVendidos img,
#OfertaFlash img {
    width: 60%; /* Define el ancho deseado para las imágenes */
    height: auto; /* Mantiene la proporción */
}
#h1masvendidos{
    margin-top: 5%; /* Ajusta el margen superior */
    text-align: center;
    font-size: 8ch;
}
#precio {
    display: flex; /* Para colocar los elementos en la misma línea */
    align-items: center; /* Para centrar verticalmente los elementos */
    margin-left: 28%; /* Ajusta el   margen izquierdo */
}

#precio h2 {
    margin-right: 40%; /* Ajusta la separación entre los precios */
    margin-left: 1.67%; /* Mueve los precios hacia la izquierda */
}
#article{
    margin-bottom: 20%; /* Ajusta el margen inferior */
}

/* Estilos para las imágenes de las redes sociales */
#redesSociales img {
    width: 50px; /* Ajusta el ancho de las imágenes */
    height: auto; /* Mantiene la proporción de aspecto */
    margin: 0 5px; /* Ajusta el margen entre las imágenes */
}
.social-icon{
    width: 10px; /* Ajusta el ancho de las imágenes */
    height: auto; /* Mantiene la proporción de aspecto */
    margin: 0 5px; /* Ajusta el margen entre las imágenes */
}

/* Estilos para el artículo de opiniones */
.opiniones {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-top: 40px;
}

.opiniones h1 {
    text-align: center;
    margin-bottom: 20px;
}

.testimonios-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.testimonio {
    max-width: 300px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.testimonio h2 {
    font-size: 1.5rem; /* Ajusta el tamaño del nombre del cliente */
    margin-bottom: 10px;
}

.testimonio p {
    font-size: 1.1rem; /* Ajusta el tamaño de la opinión */
    color: #666;
    line-height: 1.6;
}
