/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

button {
    padding: 10px 20px;
    background-color: peru;
    color: #fff;
    border: none;
    border-radius: 20px; /* Bordes más redondeados */
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px; /* Separación entre los botones */
    margin-left: 10px;
}

button:hover {
    background-color: rgb(223, 167, 111);
}

/* Estilos del encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 5px;
    border-radius: 20px;
}

nav a:hover {
    background-color: #555;
}


#logo img {
    height: 50px;
    border-radius: 100%;
}

#apartados a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#apartados a:hover {
    background-color: #555;
}

#registros button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

/* Estilos del pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

footer a:hover {
    color: #ffcc00;
}

/*Ancla*/
footer {
    text-align: right;
    margin-top: 40px; /* Espacio superior */
}

/*Estilos de la página*/

p{
    text-align: justify;
}

h1 {
    text-align: justify;
}

h1:hover{
    color: peru;
    text-shadow: 2px -2px black;
}

/* Estilos para las imágenes de las redes sociales */
#redesSociales img {
    width: 50px; /* Ajusta el ancho de las imágenes */
    height: auto; /* Mantiene la proporción de aspecto */
    margin: 0 5px; /* Ajusta el margen entre las imágenes */
}
.social-icon{
    width: 10px; /* Ajusta el ancho de las imágenes */
    height: auto; /* Mantiene la proporción de aspecto */
    margin: 0 5px; /* Ajusta el margen entre las imágenes */
}

.back-to-top {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.back-to-top:hover {
    background-color: #0056b3;
}