/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos del contenido principal */
#explicacion {
    max-width: 800px; /* Limita el ancho del contenido principal */
    margin: 0 auto; /* Centra el contenido en la página */
    padding: 20px;
    background-color: #f9f9f9; /* Fondo del contenido */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilos de los títulos */
h1 {
    text-align: center; /* Centra los títulos */
    color: #333; /* Color del texto */
    margin-bottom: 20px; /* Espacio inferior entre títulos y párrafos */
}

/* Estilos de los párrafos */
p {
    text-align: justify; /* Justifica el texto */
    color: #666; /* Color del texto */
    line-height: 1.6; /* Altura de línea */
    margin-bottom: 15px; /* Espacio inferior entre párrafos */
}

/* Estilos de la lista */
ul {
    color: #666; /* Color del texto */
    margin-bottom: 20px; /* Espacio inferior entre lista y párrafos */
}

/* Estilos de los elementos de la lista */
li {
    margin-bottom: 5px; /* Espacio inferior entre elementos de la lista */
}

/* Estilos de los enlaces */
a {
    color: #007bff; /* Color del enlace */
    text-decoration: none; /* Sin subrayado */
}

a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
}

/* Estilos del encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 5px;
    border-radius: 20px;
}

nav a:hover {
    background-color: #555;
}

#logo img {
    height: 50px;
    border-radius: 100%;
}

/* Estilos del pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

footer a:hover {
    color: #ffcc00;
}

/*Ancla*/
footer {
    text-align: right;
    margin-top: 40px; /* Espacio superior */
}

/* Estilos para las imágenes de las redes sociales */
#redesSociales img {
    width: 50px; /* Ajusta el ancho de las imágenes */
    height: auto; /* Mantiene la proporción de aspecto */
    margin: 0 5px; /* Ajusta el margen entre las imágenes */
}

.social-icon {
    width: 50px; /* Ancho de los iconos sociales */
    height: auto; /* Mantiene la proporción de aspecto */
    margin: 0 5px; /* Margen entre los iconos sociales */
}

/* Botón de volver arriba */
.back-to-top {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.back-to-top:hover {
    background-color: #0056b3;
}
